<h1><%= t("repair.update.title") %></h1>

<% form_for([:admin, @repair]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t("repair.model.equipment_miscellaneou") %><br />
    <%= f.select("equipment_miscellaneou_id", EquipmentMiscellaneou.all.collect {|em| [ "#{em.department.name} - #{em.equipment_type.name} - #{em.model}" , em.id ] }, { :include_blank => false }) %>
  </p>
  <p>
    <%= f.label t("repair.model.location") %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label t("repair.model.date_in") %><br />
    <%= f.date_select :date_in %>
  </p>
  <p>
    <%= f.label t("repair.model.fault_reported") %><br />
    <%= f.text_area :fault_reported, :size => "50x3" %>
  </p>
  <p>
    <%= f.label t("repair.model.reason_fault") %><br />
    <%= f.select("reason_fault_id", ReasonFault.all.collect {|r| [ r.name , r.id ] }, { :include_blank => false }) %>
  </p>
  <p>
    <%= f.label t("repair.model.fix") %><br />
    <%= f.text_area :fix, :size => "50x3" %>
  </p>
  <p>
    <%= f.label t("repair.model.date_out") %><br />
    <%= f.date_select :date_out, :include_blank => true %>
  </p>
  <p>
    <%= f.label t("repair.model.cost") %><br />
    <%= f.text_field :cost %>
  </p>
  <p>
    <%= f.label t("repair.model.outsource_cost") %><br />
    <%= f.text_field :outsource_cost %>
  </p>
  <p>
    <%= f.label t("repair.model.observations") %><br />
    <%= f.text_area :observations, :size => "50x3" %>
  </p>
  <p>
    <%= f.submit t("general.update") %>
  </p>
<% end %>

<%= link_to t("general.show"), [:admin, @repair] %> |
<%= link_to t("general.back"), admin_repairs_path %>