<h1>Listing repairs</h1>

<table class="normal_table">
  <tr>
    <th>Date in</th>
    <th>Equipment</th>
    <th>Department</th>
    <th>Location</th>
    <th>Fault reported</th>
    <th>Reason fault</th>
    <th>Date out</th>
    <th>User</th>
  </tr>

<% @repairs.each do |repair| %>
  <tr>
    <td><%=h repair.date_in %></td>
    <td><%=h repair.equipment_miscellaneou.equipment_type.name %></td>
    <td><%=h repair.equipment_miscellaneou.department.name %></td>
    <td><%=h repair.location %></td>
    <td><%=h repair.fault_reported %></td>
    <td><%=h repair.reason_fault.name %></td>
    <td><%=h repair.date_out %></td>
    <td><%=h repair.user.login %></td>
    <td><%= link_to 'Show', [:admin, repair] %></td>
    <td><%= link_to 'Edit', edit_admin_repair_path(repair) %></td>
    <td><%= link_to 'Destroy', [:admin, repair], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @request_repairs %>
