<h1><%= t("repair.index.title") %></h1>

<table class="normal_table">
  <tr>
    <th><%= t("repair.model.date_in") %></th>
    <th><%= t("repair.model.equipment_miscellaneou") %></th>
    <th><%= t("equipment.model.department") %></th>
    <th><%= t("repair.model.location") %></th>
    <th><%= t("repair.model.fault_reported") %></th>
    <th><%= t("repair.model.reason_fault") %></th>
  </tr>

  <% @repairs.each do |repair| %>
    <tr>
      <td><%=h repair.date_in %></td>
      <td><%=h repair.equipment_miscellaneou.equipment_type.name %></td>
      <td><%=h repair.equipment_miscellaneou.department.name %></td>
      <td><%=h repair.location %></td>
      <td><%=h repair.fault_reported %></td>
      <td><%=h repair.reason_fault.name %></td>
      <td><%= link_to image_tag("icons/show.png", :size => "24x24"), [:admin, repair], :title => t('general.show') %></td>
      <td><%= link_to image_tag("icons/edit.png", :size => "24x24"), edit_admin_repair_path(repair), :title => t('general.edit')  %></td>
      <td><%= link_to image_tag("icons/destroy.png", :size => "24x24"), [:admin, repair], :confirm => t("general.confirmation"), :method => :delete, :title => t('general.destroy')  %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @request_repairs %>
