<h1><%= t("repair.show.title") %></h1>

<p>
  <b><%= t("repair.model.equipment_miscellaneou") %>:</b>
  <%=h @repair.equipment_miscellaneou_id %>
</p>

<p>
  <b><%= t("repair.model.location") %>:</b>
  <%=h @repair.location %>
</p>

<p>
  <b><%= t("repair.model.date_in") %>:</b>
  <%=h @repair.date_in %>
</p>

<p>
  <b><%= t("repair.model.fault_reported") %>:</b>
  <%=h @repair.fault_reported %>
</p>

<p>
  <b><%= t("repair.model.reason_fault") %>:</b>
  <%=h @repair.reason_fault_id %>
</p>

<p>
  <b><%= t("repair.model.fix") %>:</b>
  <%=h @repair.fix %>
</p>

<p>
  <b><%= t("repair.model.date_out") %>:</b>
  <%=h @repair.date_out %>
</p>

<p>
  <b><%= t("repair.model.cost") %>:</b>
  <%=h @repair.cost %>
</p>

<p>
  <b><%= t("repair.model.outsource_cost") %>:</b>
  <%=h @repair.outsource_cost %>
</p>

<p>
  <b><%= t("repair.model.observations") %>:</b>
  <%=h @repair.observations %>
</p>

<% if current_user.has_perm?("repairs_repairs_can_edit") %>
  <%= link_to t("general.update"), edit_admin_repair_path(@repair) %> |
<% end %>
<%= link_to t("general.back"), admin_repairs_path %>