<h1><%= t('reason_fault.update.title') %></h1>

<% form_for([:admin, @reason_fault]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t('reason_fault.model.name') %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit t('general.update') %>
  </p>
<% end %>

<% if current_user.has_perm?("reason_faults_reason_faults_can_show") %>
  <%= link_to t('general.show'), [:admin, @reason_fault] %> |
<% end %>
<%= link_to t('general.back'), admin_reason_faults_path %>