<h1><%= t('reason_fault.show.title') %></h1>

<p>
  <b><%= t('reason_fault.model.name') %>:</b>
  <%=h @reason_fault.name %>
</p>


<%= link_to t('general.edit'), edit_admin_reason_fault_path(@reason_fault) %> |
<%= link_to t('general.back'), admin_reason_faults_path %>