<h1><%= t('department.update.title') %></h1>

<% form_for([:admin, @department]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t('department.model.name') %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label t('department.model.alias') %><br />
    <%= f.text_field :alias %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to t('general.show'), [:admin, @department] %> |
<%= link_to t('general.back'), admin_departments_path %>