<h1><%= t('department.index.title') %></h1>

<p>
  <% if current_user.has_perm?("departments_departments_can_create") %>
    <%= link_to t('general.new'), new_admin_department_path %>
  <% end %>
</p>
<table class="normal_table">
  <tr>
    <th><%=  t('department.model.name') %></th>
    <th><%=  t('department.model.alias') %></th>
  </tr>

  <% @departments.each do |department| %>
    <tr>
      <td><%=h department.name %></td>
      <td><%=h department.alias %></td>
      <% if current_user.has_perm?("departments_departments_can_show") %>
        <td><%= link_to image_tag("icons/show.png", :size => "24x24"), [:admin, department], :title => t('general.show') %></td>
      <% end %>
      <% if current_user.has_perm?("departments_departments_can_edit") %>
        <td><%= link_to image_tag("icons/edit.png", :size => "24x24"), edit_admin_department_path(department), :title => t('general.edit') %></td>
      <% end %>
      <% if current_user.has_perm?("departments_departments_can_destroy") %>
        <td><%= link_to image_tag("icons/destroy.png", :size => "24x24"), [:admin, department], :confirm => t("general.confirmation"), :method => :delete, :title => t('general.destroy')  %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />
<% if current_user.has_perm?("departments_departments_can_create") %>
  <%= link_to t('general.new'), new_admin_department_path %>
<% end %>