<h1><%= t('department.show.title') %></h1>

<p>
  <b><%= t('department.model.name') %>:</b>
  <%=h @department.name %>
</p>

<p>
  <b><%= t('department.model.alias') %>:</b>
  <%=h @department.alias %>
</p>

<% if current_user.has_perm?("departments_departments_can_edit") %>
  <%= link_to t('general.edit'), edit_admin_department_path(@department) %> |
<% end %>
<%= link_to t('general.back'), admin_departments_path %>