<h1><%= t('equipment_type.update.title') %></h1>

<% form_for([:admin, @equipment_type]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t('equipment_type.model.name') %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit t('general.update') %>
  </p>
<% end %>

<% if current_user.has_perm?("equipment_types_equipment_types_can_show") %>
  <%= link_to t('general.show'), [:admin, @equipment_type] %> |
<% end %>
<%= link_to t('general.back'), admin_equipment_types_path %>