<h1><%= t('equipment_type.create.title') %></h1>

<% form_for([:admin, @equipment_type]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t('equipment_type.model.name') %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit t('general.create') %>
  </p>
<% end %>

<%= link_to t('general.back'), admin_equipment_types_path %>