<h1>New request repair</h1>

<% form_for([:admin, @request_repair]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </p>
  <p>
    <%= f.label :department_id %><br />
    <%= f.select("department_id", Department.all.collect {|d| [ d.name, d.id ] }, { :include_blank => false }) %>
  </p>
  <p>
    <%= f.label :reason %><br />
    <%= f.text_field :reason %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', admin_request_repairs_path %>