<h1><%= t('users.listing_users') %></h1>

<table class="normal_table">
  <th><%= t('users.fields.username') %></th>
  <th>Name</th>
  <th><%= t('users.fields.email') %></th>
  <th><%= t('users.fields.enabled') %></th>
  <th><%= t('users.fields.roles') %></th>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.login %></td>
      <td><%= "#{user.first_name}, #{user.last_name}" %></td>
      <td><%= user.email %></td>
      <td><%= user.is_enabled %></td>
      <td>
        <% user.roles.each do |r| %>
          <%= " #{r.name} " %>
        <% end %>
      </td>
      <td><%= link_to image_tag("icons/show.png", :size => "24x24"), [:admin, user], :title => t('general.show') %></td>
      <td><%= link_to image_tag("icons/edit.png", :size => "24x24"), edit_admin_user_path(user), :title => t('general.edit') %></td>
      <td><%= link_to image_tag("icons/destroy.png", :size => "24x24"), [:admin, user], :confirm => t("general.confirmation"), :method => :delete, :title => t('general.destroy')  %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to t('general.new'), new_admin_user_path %>

