<h1>Reportes</h1>

<%= link_to "Costos de reparaciones", "/reports/repair_costs" %><br /><br />
<%= link_to "Equipos dados de baja", "/reports/take_out" %><br /><br />
<%= link_to "Llamadas atendidas", "/reports/request_repairs" %><br /><br />
<%= link_to "**Reparaciones (entre un periodo determinado)", "#" %><br /><br />
<%= link_to "**Reparaciones pendientes (todas)", "#" %><br /><br />
<%= link_to "**Reparaciones por equipo (todas las reparaciones del equipo seleccionado)", "#" %><br /><br />
<%= link_to "**Reparaciones por departamento (todas las reparaciones al departamento seleccionado)", "#" %><br /><br />
