<h1>Reparaciones Pendientes</h1>


<% form_tag(:controller => "reports", :action => "pending_repairs") do %>
  <table>
    <tr>
      <td>Desde:</td>
      <td><%= calendar_date_select_tag "date_from", params[:date_from] %></td>
    </tr>
    <tr>
      <td>Hasta:</td>
      <td><%= calendar_date_select_tag "date_to", params[:date_to] %></td>
    </tr>
    <tr>
      <td>Formato:</td>
      <td>HTML: <%= radio_button_tag "report_format", "html", true %>  - CSV: <%= radio_button_tag "report_format", "csv", false %></td>
    </tr>
  </table> <br />

  <%= submit_tag "Buscar" %>
<% end %>
<br />
<br />

<% if not @repairs.nil? %>

  Fecha: <b><%= Date.today %></b><br /><br />
  Desde: <b><%= @date_from %></b><br />
  Hasta: <b><%= @date_to %></b><br /><br />

  <table class="normal_table">
    <tr>
      <th>Fecha Ingreso</th>
      <th>Departamento</th>
      <th>Razon</th>
      <th>Equipo</th>
      <th>Nro. Inventario</th>
      <th>Total x Equipo</th>
    </tr>
    <% @repairs.each do |repair| %>
      <tr>
        <td><%= repair.date_in %></td>
        <td><%= repair.equipment_miscellaneou.department.name %></td>
        <td><%= repair.reason_fault.name %></td>
        <td><%= repair.equipment_miscellaneou.brand %></td>
        <td><%= repair.equipment_miscellaneou.inventory_number %></td>
        <td><%= repair.outsource_cost + repair.cost %></td>
      </tr>
    <% end %>

  </table>
<% end %>