<h1>Equipos dados de baja</h1>

Fecha: <b><%= Date.today %></b><br /><br />

<table class="normal_table">
  <tr>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Nro. Inventario</th>
    <th>Motivo</th>
    <th>Usuario</th>
    <th>Fecha</th>
  </tr>
  <% @equipments.each do |e| %>
    <tr>
      <td><%= e.brand %></td>
      <td><%= e.model %></td>
      <td><%= e.inventory_number %></td>
      <td><%= e.take_out_reason %></td>
      <td><%= e.user.login %></td>
      <td><%= e.updated_at %></td>
    </tr>
  <% end %>
</table>

<br /><a href="/reports/take_out?report_format=csv">Exportar CSV</a>