<h1><%= t("equipment.update.title") %></h1>

<% form_for([:admin, @equipment_miscellaneou]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t("equipment.model.equipment_type") %><br />
    <%= f.select("equipment_type_id", EquipmentType.all.collect {|e| [ e.name, e.id ] }, { :include_blank => false }) %>
  </p>
  <p>
    <%= f.label t("equipment.model.brand") %><br />
    <%= f.text_field :brand %>
  </p>
  <p>
    <%= f.label t("equipment.model.model") %><br />
    <%= f.text_field :model %>
  </p>
  <p>
    <%= f.label t("equipment.model.serial_number") %><br />
    <%= f.text_field :serial_number %>
  </p>
  <p>
    <%= f.label t("equipment.model.inventory_number") %><br />
    <%= f.text_field :inventory_number %>
  </p>
  <p>
    <%= f.label t("equipment.model.equipment_location") %><br />
    <%= f.select("equipment_location_id", EquipmentLocation.all.collect {|e| [ e.name, e.id ] }, { :include_blank => false }) %>
  </p>
  <p>
    <%= f.label t("equipment.model.department") %><br />
    <%= f.select("department_id", Department.all.collect {|d| [ d.name, d.id ] }, { :include_blank => false }) %>
  </p>
  <p>
    <%= f.label t("equipment.model.cost") %><br />
    <%= f.text_field :cost %>
  </p>
  <p>
    <%= f.label t("equipment.model.observations") %><br />
    <%= f.text_area :observations, :size => "40x4" %>
  </p>
  <p>
    <%= f.submit t("general.update") %>
  </p>
<% end %>

<% if current_user.has_perm?("equipment_miscellaneous_equipment_miscellaneous_can_show") %>
  <%= link_to t("general.show"), [:admin, @equipment_miscellaneou] %> |
<% end %>
<%= link_to t("general.back"), admin_equipment_miscellaneous_path %>