<h1><%= t("equipment.show.title") %></h1>

<p>
  <b><%= t("equipment.model.equipment_type") %>:</b>
  <%=h @equipment_miscellaneou.equipment_type.name %>
</p>

<p>
  <b><%= t("equipment.model.brand") %>:</b>
  <%=h @equipment_miscellaneou.brand %>
</p>

<p>
  <b><%= t("equipment.model.model") %>:</b>
  <%=h @equipment_miscellaneou.model %>
</p>

<p>
  <b><%= t("equipment.model.serial_number") %>:</b>
  <%=h @equipment_miscellaneou.serial_number %>
</p>

<p>
  <b><%= t("equipment.model.inventory_number") %>:</b>
  <%=h @equipment_miscellaneou.inventory_number %>
</p>

<p>
  <b><%= t("equipment.model.equipment_location") %>:</b>
  <%=h @equipment_miscellaneou.equipment_location.name %>
</p>

<p>
  <b><%= t("equipment.model.department") %>:</b>
  <%=h @equipment_miscellaneou.department.name %>
</p>

<p>
  <b><%= t("equipment.model.cost") %>:</b>
  <%=h @equipment_miscellaneou.cost %>
</p>

<p>
  <b><%= t("equipment.model.observations") %>:</b>
  <%=h @equipment_miscellaneou.observations %>
</p>


<%= link_to t("general.update"), edit_admin_equipment_miscellaneou_path(@equipment_miscellaneou) %> |
<%= link_to t("general.back"), admin_equipment_miscellaneous_path %>