<ul class="postnav">

  <% if is_config_menu  %>
    <% if current_user && ( current_user.has_perm?("articles_article_can_list") or
          current_user.has_perm?("users_user_can_list") or current_user.has_perm?("roles_role_can_list") ) %>

      <li><%= link_to t('menu.config.department'), admin_departments_path  %></li>
      <li><%= link_to t('menu.config.equipment_type'), admin_equipment_types_path %></li>
      <li><%= link_to t('menu.config.equipment_location'), admin_equipment_locations_path %></li>
      <li><%= link_to t('menu.config.reason_fault'), admin_reason_faults_path %></li>

    <% end %>

    <li><hr /></li>

  <% end %>

  <% if is_home_menu %>
    <li><%= link_to t('menu.home.main'), "/" %></li>
    <% if current_user.has_perm?("equipment_miscellaneous_equipment_miscellaneous_can_list") %>
      <li><%= link_to t('menu.home.equipment'), admin_equipment_miscellaneous_path  %></li>
    <% end %>
    <% if current_user.has_perm?("request_repairs_request_repairs_can_list") %>
      <li><%= link_to t('menu.home.request_repair'), admin_request_repairs_path %></li>
    <% end %>
    <% if current_user.has_perm?("repairs_repairs_can_list") %>
      <li><%= link_to t('menu.home.repair'), admin_repairs_path %></li>
      <li><%= link_to t('menu.home.repaired'),"/admin/repairs?repaired=true"  %></li>
    <% end %>
    <li><hr /></li>
  <% end %>

  <% if is_report_menu %>
    <li><%= link_to "Costos en Rep.", "/reports/repair_costs" if current_user.has_perm?("reports_reports_can_repair_costs") %></li>
    <li><%= link_to "Eq. dados de baja", "/reports/take_out" if current_user.has_perm?("reports_reports_can_take_out") %></li>
    <li><%= link_to "Llamadas", "/reports/request_repairs" if current_user.has_perm?("reports_reports_can_request_repairs") %></li>
    <li><%= link_to "Reparaciones", "/reports/repairs" if current_user.has_perm?("reports_reports_can_repairs") %></li>
    <li><%= link_to "Rep. Pendientes", "/reports/pending_repairs" if current_user.has_perm?("reports_reports_can_pending_repairs") %></li>
    <li><%= link_to "Rep. x Equipo", "/reports/repairs_by_equipment" if current_user.has_perm?("reports_reports_can_repairs_by_equipment") %></li>
    <li><%= link_to "Rep. x Departamento", "/reports/repairs_by_department" if current_user.has_perm?("reports_reports_can_repairs_by_department") %></li>
    <li><hr /></li>
  <% end %>

  <% if is_admin_menu %>
    <!--
    <% if current_user.has_perm?("articles_article_can_list") %><li><%= link_to t('menu.admin.articles'), admin_articles_path %></li> <% end %>
    <% if current_user.has_perm?("categories_category_can_list") %><li><%= link_to t('menu.admin.categories'), admin_categories_path %></li><% end %>
    -->
    <% if current_user.has_perm?("users_user_can_list") %><li><%= link_to t('menu.admin.users'), admin_users_path %></li><% end %>
    <% if current_user.has_perm?("roles_role_can_list") %><li><%= link_to t('menu.admin.roles'), admin_roles_path %></li><% end %>
    <li><hr /></li>
  <% end %>

  <% if current_user %>
    <li><%= link_to t('menu.user.edit_profile'), edit_user_path(:current) %></li>
    <!--
    <li><%= link_to t('menu.user.logout'), logout_path %> </li>
    -->
  <% else %>
    <li><%= link_to t('menu.user.register'), new_user_path %></li>
    <li><%= link_to t('menu.user.login'), login_path %> </li>
  <% end %>

</ul>


